---
name: Regression Tests

on: [push, pull_request]

jobs:
  regression:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        crsversion: ['3.3.6', '3.2.1']
        poetry-version: ['1.7.0']
        python-version: ['3.8', '3.9', '3.10']

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: "Run tests"
        run: |
          curl -L https://github.com/coreruleset/coreruleset/archive/refs/tags/v${{ matrix.crsversion }}.tar.gz -o - | tar xzvf - --strip-components=1 --wildcards "*/rules/*"
          poetry install -v
          poetry run pytest -vs
          poetry run secrules-parser -c --output-type github -f rules/*.conf

